{% extends 'base.html.twig' %}

{% block title %}IPTV Admin{% endblock %}

{% block body %}
    {% if articles %}
        <table class="table table-striped">
            <thead>
                <th>Article title</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article }}</td>
                    <td><a href="/article/1" class="btn btn-dark">Show</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No articles to display</p>
    {% endif %}
{% endblock %}
